
<%provide(:title, "Contact Us")%>

  
           
                <div class="divC">
                    </br>
                    <h1>
                        Contact us
                    </h1>

                    <p>Our team will be delighted to help you with any questions or hear your feedback.</p>
               
                </br>
                <div class="form-container1">
                    <form action="https://formspree.io/mjvklypa" method="POST" id="contact-form" enctype="application/x-www-form-urlencoded">
                        <h4>* This field is required</h4>
                        <div class="input1">
                            <label>
                                First name: * 
                                </br>
                                <input required="required" type="text" name="first-name" />
                            </label>
                            </br>
                            <label>
                                Last name: *
                                </br>
                                <input required="required" type="text" name="last-name" />
                            </label>
                            </br>
                            <label>
                                Email address: *
                                </br>
                                <input required="required" type="email" name="user-email" />
                            </label>
                            </br>
                            <label>
                                Let us know how we could help you: *
                                </br>
                                <input required="required" type="text" name="help" />
                            </label>
                
                            <div class="submit-area1">
                                </br>
                                <label>
                                    <input class="submit-button1" type="submit" value="SUBMIT" />
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
       </div>
  