
<div class="divC">
 </br>
<h1>Grow baby grow</h1>
</br>
<p> Our milestone plan was designed to keep pace with your ever evolving babe. Let our dietitian select jars based on your baby's age and developmental needs.</p>
</div>

<div class="divL">
 <img src="assets/Site/FutureAthletej.jpg">
 </br>
 </div>

<div class="divR">
 <b><h2> 06 Months: Future Athlete </h2></b>
 <p>At 6 months, your baby might be rolling over and attempting their first sit up. This month, we'll focus on strengthening their core with blends rich in plant-based protein, magnesium, calcium, and choline. </p>
</div>



 <div class="divL">
 <img src="assets/Site/FutureExplorer.jpg">
 </br>
 </div>
<div class="divR"> 
<b> <h2> 09 Months: Future Explorer</h2></b>
 <p> At 9 months, your babe is exploring the world around them and may even be crawling. Since they are putting weight on their bones for the first time ever, we're supporting their muscle and bone development with blends rich in calcium, megnesium, and potassium.</p>
</div>


 
  <div class="divL">
 <img src="assets/Site/FutureAstronaut.jpg">
</br>
</div>
<div class="divR"> 
<b><h2> 12 Months: Future Astronaut</h2><b></b>
<p>At 12 months, Happy first birthday! This is a huge milestone for your little one. This month, we'll focus on developing their muscles and bones to help support their upward motion, whether that's standing, cruising or walking.</p>
 </div>
 
 

<div class="divL">
 <img src="assets/Site/FutureBuilder.jpg">
 </br>
 </div>
<div class="divR">
<b><h2>14 Months: Future Builder</h2></b>
<p> At 14 months, your babe will move into the next stage of fine motor development. Your little builder will now explore stacking objects vertically. To support their hand-eye coordination we'll give them brain boosting foods.</p>
</div>


