
<%provide(:title, "Home")%>

<div class="mainCont">
    </br>
    <b><h1>The Future of Baby Food is Here</h1></b>
</br>
   
<p>Our menu changes every week and with the seasons. We’re introducing your baby to 100+ superfoods and spices from around the world. All Organic. No Synthetics. Never Fortified. No Additives. No Concentrates. Ever.</p>
</br>
<%= image_tag("/assets/Site/Homepage.jpg", alt: "Welcome Logo", :class => "welcomeIm") %> 
</br>
</br>
</br>


<%=render 'layouts/categories'%>

<%=render 'layouts/popular'%>


</div>
