// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menusContainer {
    width: 100%;
    text-align: center;
    
    
}



#menusContainer h1 {
 display: block;
 color: pink;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;


}

.menuhols {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;
    width: 22%;
    padding:10px;
    min-height: 300px;
   
}

.menuhols h1 {
 display: block;
 color: pink;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 20px

}




.menuhols p {
 display: block;
 color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 16px

}

.menuholsIm {
    width: 30%; 
    margin-left: auto; 
    margin-right: auto; 
    display: block;
    
}
.button {
 background-color: lightblue;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}


